BACKEND_INTERNAL_URL=http://backend:8080
JWT_SECRET=
JWT_COOKIE_NAME=sj_session
SESSION_MAX_AGE=3600
MOCK_AUTH=false
COOKIE_SECURE=false
NEXT_PUBLIC_APP_NAME=SJ Nails Admin
NEXT_PUBLIC_TIMEZONE=America/Bogota
